[user]
	name = Joe-noh
	email = goflb.jh@gmail.com
[core]
  excludesFile = ~/.gitignore
[alias]
  st = status -sb
  ci = commit
  co = checkout
[url "git@github.com:Joe-noh"]
  pushInsteadOf = https://github.com/Joe-noh
[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = git://github.com/
[ghq]
	root = ~/Workspace/src
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
